<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 图片验证servlet -->
	<servlet>  
	    <servlet-name>validateCodeServlet</servlet-name>  
	    <servlet-class>com.test.demo.ValidateCodeServlet</servlet-class>  
	</servlet>      
	<servlet-mapping>  
	    <servlet-name>validateCodeServlet</servlet-name>  
	    <url-pattern>*.images</url-pattern>  
	</servlet-mapping> 
	
    <servlet>  
	    <servlet-name>validateDemoServlet</servlet-name>  
	    <servlet-class>com.test.demo.ValidateDemoServlet</servlet-class>  
	</servlet>      
	<servlet-mapping>  
	    <servlet-name>validateDemoServlet</servlet-name>  
	    <url-pattern>/validateDemoServlet</url-pattern>  
	</servlet-mapping> 
	
	<servlet>  
	    <servlet-name>DrawImageServlet</servlet-name>  
	    <servlet-class>com.test.demo.DrawImageServlet</servlet-class>  
	</servlet>      
	<servlet-mapping>  
	    <servlet-name>DrawImageServlet</servlet-name>  
	    <url-pattern>/drawImageServlet</url-pattern>  
	</servlet-mapping>
	 
    <servlet>  
	    <servlet-name>JPushServlet</servlet-name>  
	    <servlet-class>com.test.Jfush.JPushServlet</servlet-class>  
	</servlet>      
	<servlet-mapping>  
	    <servlet-name>JPushServlet</servlet-name>  
	    <url-pattern>/JPush</url-pattern>  
	</servlet-mapping> 
</web-app>